@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
:root {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;

  background: #AF0202C9;
}
html {
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
input {
  all: unset;
}

  textarea {
    all: unset;
  }

body {
  margin: 0;
  height: 100%;
}

h1 {
  all: unset;
}

p {
  margin: 3px 0;
}
h2 {
  all: unset;
  font-size: 24px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  width: 100%;
}

.component {
  background-color: #373737;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

